.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.bodyContainer h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.bodyContainer p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.bodyContainer button {
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--secondary-background);
  cursor: pointer;
}

.bodyContainer button:hover {
  background: none;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

/* Media */
@media screen and (max-width: 768px) {
  .bodyContainer h1 {
    font-size: 1.5rem;
  }

  .bodyContainer p {
    font-size: 0.875rem;
  }

  .bodyContainer h1,
  .bodyContainer p {
    text-align: center;
  }

  .bodyContainer button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}
