.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContainer h1 {
  font-size: 2em;
  margin: 20px 0;
}

.mainContainer h1,
.mainContainer h2,
.mainContainer h3 {
  margin-bottom: 15px;
  text-align: center;
  color: var(--sandybrown);
}

.mainContainer h4 {
  padding: 15px;
}

.mainContainer p {
  text-align: justify;
}

.mainContainer pre {
  border-radius: 5px;
  margin: 5px;
}

.exampleTitle {
  color: var(--tertiary);
  font-style: italic;
}

.codeContainer h2 {
  padding: 1rem 0 0 0;
}

/* Media */

@media screen and (max-width: 768px) {
  .mainContainer pre code {
    font-size: 0.6rem;
  }
}
